body
{background-color: rgb(255, 208, 231);
    color:rgb(27, 46, 63)
}

p{line-height: 2em;}

#CCA_raven-img {
  width: 200px;
  height: auto;
  border-style:solid 2px #c8c8ff;
  border-radius: 9px; 
  margin-right: 15px;
  margin-top: 2px;
  margin-bottom: 4px;
float: left}

#family-img{
   width: 200px;
  height: auto;
  border-style:solid 2px #c8c8ff;
  border-radius: 9px; 
  margin-right: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
float: left
}


#cake{
   width: 200px;
  height: auto;
  border-style:solid 2px #c8c8ff;
  border-radius: 9px; 
  margin-right: 15px;
  margin-top: 2px;
  margin-bottom: 4px;
float: left
}